body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

/* common page layout */
.page {
  display: none;
}

.active {
  display: block;
}

/* LOVE CARD */
.page.active {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  text-align: center;
  width: 320px;
  animation: fadeIn 0.6s ease-in-out;
}

/* heading */
h2 {
  color: #fff;
  margin-bottom: 20px;
}

/* input box */
input {
  width: 80%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

/* button styling */
button {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: #ff4b6e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(255, 75, 110, 0.4);
}

button:hover {
  background: #ff1f50;
  transform: scale(1.05);
}

.gif {
  width: 100%;
  max-width: 220px;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
}


textarea {
  width: 90%;
  min-height: 60px;
  padding: 12px;
  border-radius: 15px;
  border: none;
  margin: 8px 0;
  font-size: 14px;
  resize: none;
}

/* spacing for submit button */
#page5 button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#page6 {
  background: none !important;
  box-shadow: none !important;
}

/* message card */
.final-card {
  background: #000;
  color: #fff;
  padding: 30px;
  border-radius: 40px;
  max-width: 3200px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
}



/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HEARTS CONTAINER */
.hearts-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

/* each heart */
.heart {
  position: absolute;
  color: #ff4b6e;
  font-size: 20px;
  animation: floatUp linear infinite;
  opacity: 0.7;
}

/* floating animation */
@keyframes floatUp {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1.5);
    opacity: 0;
  }
}
